[submodule "personal"]
	path = personal
	url = git@github.com:jmbuhr/personal.git
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh/zsh-autosuggestions"]
	path = zsh/.zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "theme/.themes/Nordic-dark"]
	path = theme/.themes/Nordic-dark
	url = git@github.com:EliverLara/Nordic.git
[submodule "theme/clones/WhiteSur-gtk-theme"]
	path = theme/clones/WhiteSur-gtk-theme
	url = git@github.com:vinceliuice/WhiteSur-gtk-theme.git
[submodule "_software/WhiteSur-gtk-theme"]
	path = _software/WhiteSur-gtk-theme
	url = git@github.com:vinceliuice/WhiteSur-gtk-theme.git
[submodule "_software/nord-gnome-terminal"]
	path = _software/nord-gnome-terminal
	url = https://github.com/arcticicestudio/nord-gnome-terminal.git
