[submodule "personal"]
	path = personal
	url = git@github.com:jmbuhr/personal.git
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh/zsh-autosuggestions"]
	path = zsh/.zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "_dev/deps/stow"]
	path = _dev/deps/stow
	url = https://git.savannah.gnu.org/git/stow.git
