[submodule "personal"]
	path = personal
	url = git@github.com:jmbuhr/personal.git
[submodule "theme/.themes/Nordic"]
	path = theme/.themes/Nordic
	url = git@github.com:EliverLara/Nordic.git
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh/zsh-autosuggestions"]
	path = zsh/.zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
